[submodule "jksoa-benchmark"]
    path = jksoa-benchmark
    url = git@github.com:shigebeyond/jksoa-benchmark.git
[submodule "jphp-java-ext"]
    path = jphp-java-ext
    url = git@github.com:shigebeyond/jphp-java-ext.git
[submodule "jkguard"]
    path = jkguard
    url = git@github.com:shigebeyond/jkguard.git
[submodule "jkmvc"]
    path = jkmvc
    url = git@github.com:shigebeyond/jkmvc.git
[submodule "jkutil"]
    path = jkutil
    url = git@github.com:shigebeyond/jkutil.git
[submodule "jkmq"]
    path = jkmq
    url = git@github.com:shigebeyond/jkmq.git
[submodule "jkbenchmark"]
    path = jkbenchmark
    url = git@github.com:shigebeyond/jkbenchmark.git
[submodule "jkjob"]
    path = jkjob
    url = git@github.com:shigebeyond/jkjob.git